:root{
    --BUTTONS-ROW-HEIGHT: 50px;
}

body{
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.buttons-row-flexbox{
    display: flex;
    justify-content: space-evenly;
    background-color: aqua;
    height: var(--BUTTONS-ROW-HEIGHT);
}

.buttons-flexbox{
    display: flex;
    margin: 2px;
    flex-direction: row;
    justify-content: space-evenly;
}

.grid-container{
    display: grid;    
    grid-template-rows: repeat(10, minmax(50px, 1fr));
    grid-template-columns: repeat(10, minmax(100px, 1fr));
    height: calc(100vh - var(--BUTTONS-ROW-HEIGHT));
}

.item-left-top{
    grid-area: 1 / 1 / 1 / 1;
    background-color: blueviolet;
}

.item-left-middle{
    grid-area: 2 / 1 / 8 / 1;
    background-color: lightblue;
}

.item-left-bottom{
    grid-area: 8 / 1 / 11 / 1;
    background-color: pink;
}

.item-center{
    grid-area: 1 / 2 / 11 / 10;
    background-color: red;    
    position: relative;
    width: 100%;
    height: 100%;
}

.item-right-top{
    grid-area: 1 / 10 / 2 / 10;
    background-color: yellowgreen;
}

.item-right-middle{
    grid-area: 2 / 10 / 4 / 10;
    background-color: tan;
}

.item-right-bottom{
    grid-area: 4 / 10 / 11 / 10;
    background-color: yellow;
}

canvas{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.scrollable-list {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    overflow-y: auto;
    padding: 10px;
}

.scrollable-list div {
    padding: 2px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.scrollable-list div.selected {
    background-color: #007bff;
    color: white;
}

table {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 14px;
    text-align: left;
}
table-head {
    display: block;
    flex: 0 0 auto;
}
    
table-body {
    flex: 1 1 auto;
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
}

th, td {
    padding: 7px;
    border-bottom: 1px solid #ddd;
}

.table-highlighted {
    background-color: #007bff;
    color: white;
}

.tree-view {
    overflow-y: scroll;
    width: 100%;
    height: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin-left: 20px;
    cursor: pointer;
}

.treeview-hidden {
    display: none;
}

.treeview-selected {
    background-color: #007bff;
    color: white;
}

.toggle-button {
    margin-right: 5px;
    cursor: pointer;
}

.innertext{
    font-weight: bold;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}